<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Registro de Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" fullscreen>
    <ion-button (click)="scanQRCode()">Registrar Asistencia</ion-button>
    <ion-button (click)="scanQRCode()">Finalizar registro de asistencia</ion-button>
  </ion-content>
  
</ion-content>
